<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.khmlabs.synctab"
          android:versionCode="1" android:versionName="0.1.0">
    <application android:icon="@drawable/icon"
                 android:label="@string/application_label"
                 android:name=".SyncTabApplication">

        <activity android:name=".MainActivity" android:label="@string/synctab_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
                  android:noHistory="true"
                  android:label="@string/login_activity"/>

        <activity android:name=".ShareTabActivity" android:label="@string/synctab_activity">
            <intent-filter android:label="SyncTab">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.SyncTabService" android:label="@string/synctab_service"/>
    </application>

    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
