<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.khmlabs.synctab"
          android:versionCode="9" android:versionName="0.8.6">

    <application android:icon="@drawable/icon"
                 android:label="@string/application_label"
                 android:theme="@style/Theme.SyncTab"
                 android:name=".SyncTabApplication"
                 android:debuggable="true">

        <activity android:name=".ui.MainActivity" android:label="@string/synctab_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ShareTabActivity"
                  android:label="@string/synctab_activity"
                  android:theme="@style/ActivityWithBackground"
                  android:noHistory="true">
            <intent-filter android:label="@string/share_synctab">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.AboutActivity"
                  android:label="@string/about_activity"/>

        <activity android:name=".ui.SettingsActivity"
                  android:label="@string/settings_activity"/>

        <activity android:name=".ui.TagEditActivity"
                  android:label="@string/tag_edit_activity"/>

        <activity android:name=".ui.LoginActivity"
                  android:label="@string/login_activity"
                  android:theme="@style/ActivityWithBackground"
                  android:noHistory="true"/>

        <activity android:name=".ui.ResetPasswordActivity"
                  android:label="@string/login_activity"
                  android:theme="@style/ActivityWithBackground"
                  android:noHistory="true"/>

        <activity android:name=".ui.RegistrationActivity"
                  android:label="@string/registration_activity"
                  android:theme="@style/ActivityWithBackground"
                  android:noHistory="true"/>

        <receiver android:name=".broadcast.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.SyncService" android:label="@string/synctab_service"/>
        <service android:name=".service.RefreshService" android:label="@string/refresh_service"/>
    </application>

    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
